phoenix-webservices-docs/ns3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="urn:EBA"
elementFormDefault="qualified"   xmlns:ns3="urn:EBA"
  
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="EBADEC">
<xs:complexType>
  <xs:annotation>
    <xs:documentation>
      <![CDATA[<p>Java class for anonymous complex type.

<p>The following schema fragment specifies the expected content contained within this class.

<pre>
 &lt;complexType>
   &lt;complexContent>
     &lt;restriction base="{http://www.w3.org/2001/XMLSchema}anyType">
       &lt;sequence>
         &lt;element name="Header">
           &lt;complexType>
             &lt;complexContent>
               &lt;restriction base="{http://www.w3.org/2001/XMLSchema}anyType">
                 &lt;sequence>
                   &lt;element name="Sender" type="{urn:EBA}SComPartner"/>
                   &lt;element name="Receiver" type="{urn:EBA}SComPartner"/>
                   &lt;element name="MessageNo" type="{urn:EBA}SMessageNo"/>
                   &lt;element name="PreviousMessageNo" type="{urn:EBA}SPreviousMessageNo" minOccurs="0"/>
                   &lt;element name="DateTimeStamp" type="{http://www.w3.org/2001/XMLSchema}dateTime"/>
                 &lt;/sequence>
               &lt;/restriction>
             &lt;/complexContent>
           &lt;/complexType>
         &lt;/element>
         &lt;element name="Body">
           &lt;complexType>
             &lt;complexContent>
               &lt;restriction base="{http://www.w3.org/2001/XMLSchema}anyType">
                 &lt;sequence>
                   &lt;element name="TransactionCode" type="{urn:EBA}STransactionCode"/>
                   &lt;element name="Container" maxOccurs="255" minOccurs="0">
                     &lt;complexType>
                       &lt;complexContent>
                         &lt;restriction base="{http://www.w3.org/2001/XMLSchema}anyType">
                           &lt;sequence>
                             &lt;element name="Document" type="{urn:EBA}SDocument" maxOccurs="255"/>
                             &lt;element name="BookingsReference" type="{urn:EBA}SBookingsReference" minOccurs="0"/>
                             &lt;element name="Terminal" type="{urn:EBA}STerminal"/>
                             &lt;element name="CarrierType" type="{urn:EBA}SCarrierType" minOccurs="0"/>
                           &lt;/sequence>
                           &lt;attribute name="number" use="required" type="{urn:EBA}SContainerNumber" />
                         &lt;/restriction>
                       &lt;/complexContent>
                     &lt;/complexType>
                   &lt;/element>
                   &lt;element name="Vehicle" maxOccurs="255" minOccurs="0">
                     &lt;complexType>
                       &lt;complexContent>
                         &lt;restriction base="{http://www.w3.org/2001/XMLSchema}anyType">
                           &lt;sequence>
                             &lt;element name="Document" type="{urn:EBA}SDocument" maxOccurs="255"/>
                             &lt;element name="BookingsReference" type="{urn:EBA}SBookingsReference" minOccurs="0"/>
                             &lt;element name="Terminal" type="{urn:EBA}STerminal"/>
                             &lt;element name="CarrierType" type="{urn:EBA}SCarrierType" minOccurs="0"/>
                           &lt;/sequence>
                           &lt;attribute name="number" use="required" type="{urn:EBA}SVehicleNumber" />
                         &lt;/restriction>
                       &lt;/complexContent>
                     &lt;/complexType>
                   &lt;/element>
                 &lt;/sequence>
                 &lt;attribute name="type" type="{urn:EBA}SBodyType" />
               &lt;/restriction>
             &lt;/complexContent>
           &lt;/complexType>
         &lt;/element>
       &lt;/sequence>
       &lt;attribute name="VersionMajor" use="required" type="{http://www.w3.org/2001/XMLSchema}unsignedByte" fixed="1" />
       &lt;attribute name="VersionMinor" use="required" type="{http://www.w3.org/2001/XMLSchema}unsignedByte" fixed="0" />
     &lt;/restriction>
   &lt;/complexContent>
 &lt;/complexType>
 </pre>]]>
    </xs:documentation>
  </xs:annotation>
       <xs:sequence>
              <xs:element name="Header" minOccurs="1">
<xs:complexType>
  <xs:annotation>
    <xs:documentation>
      <![CDATA[<p>Java class for anonymous complex type.

<p>The following schema fragment specifies the expected content contained within this class.

<pre>
 &lt;complexType>
   &lt;complexContent>
     &lt;restriction base="{http://www.w3.org/2001/XMLSchema}anyType">
       &lt;sequence>
         &lt;element name="Sender" type="{urn:EBA}SComPartner"/>
         &lt;element name="Receiver" type="{urn:EBA}SComPartner"/>
         &lt;element name="MessageNo" type="{urn:EBA}SMessageNo"/>
         &lt;element name="PreviousMessageNo" type="{urn:EBA}SPreviousMessageNo" minOccurs="0"/>
         &lt;element name="DateTimeStamp" type="{http://www.w3.org/2001/XMLSchema}dateTime"/>
       &lt;/sequence>
     &lt;/restriction>
   &lt;/complexContent>
 &lt;/complexType>
 </pre>]]>
    </xs:documentation>
  </xs:annotation>
       <xs:sequence>
              <xs:element name="Sender" type="ns3:SComPartner" minOccurs="1">
              </xs:element>
              <xs:element name="Receiver" type="ns3:SComPartner" minOccurs="1">
              </xs:element>
              <xs:element name="MessageNo" type="xs:string" minOccurs="1">
              </xs:element>
              <xs:element name="PreviousMessageNo" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="DateTimeStamp" type="xs:string" minOccurs="1">
              </xs:element>
      </xs:sequence>
</xs:complexType>

              </xs:element>
              <xs:element name="Body" minOccurs="1">
<xs:complexType>
  <xs:annotation>
    <xs:documentation>
      <![CDATA[<p>Java class for anonymous complex type.

<p>The following schema fragment specifies the expected content contained within this class.

<pre>
 &lt;complexType>
   &lt;complexContent>
     &lt;restriction base="{http://www.w3.org/2001/XMLSchema}anyType">
       &lt;sequence>
         &lt;element name="TransactionCode" type="{urn:EBA}STransactionCode"/>
         &lt;element name="Container" maxOccurs="255" minOccurs="0">
           &lt;complexType>
             &lt;complexContent>
               &lt;restriction base="{http://www.w3.org/2001/XMLSchema}anyType">
                 &lt;sequence>
                   &lt;element name="Document" type="{urn:EBA}SDocument" maxOccurs="255"/>
                   &lt;element name="BookingsReference" type="{urn:EBA}SBookingsReference" minOccurs="0"/>
                   &lt;element name="Terminal" type="{urn:EBA}STerminal"/>
                   &lt;element name="CarrierType" type="{urn:EBA}SCarrierType" minOccurs="0"/>
                 &lt;/sequence>
                 &lt;attribute name="number" use="required" type="{urn:EBA}SContainerNumber" />
               &lt;/restriction>
             &lt;/complexContent>
           &lt;/complexType>
         &lt;/element>
         &lt;element name="Vehicle" maxOccurs="255" minOccurs="0">
           &lt;complexType>
             &lt;complexContent>
               &lt;restriction base="{http://www.w3.org/2001/XMLSchema}anyType">
                 &lt;sequence>
                   &lt;element name="Document" type="{urn:EBA}SDocument" maxOccurs="255"/>
                   &lt;element name="BookingsReference" type="{urn:EBA}SBookingsReference" minOccurs="0"/>
                   &lt;element name="Terminal" type="{urn:EBA}STerminal"/>
                   &lt;element name="CarrierType" type="{urn:EBA}SCarrierType" minOccurs="0"/>
                 &lt;/sequence>
                 &lt;attribute name="number" use="required" type="{urn:EBA}SVehicleNumber" />
               &lt;/restriction>
             &lt;/complexContent>
           &lt;/complexType>
         &lt;/element>
       &lt;/sequence>
       &lt;attribute name="type" type="{urn:EBA}SBodyType" />
     &lt;/restriction>
   &lt;/complexContent>
 &lt;/complexType>
 </pre>]]>
    </xs:documentation>
  </xs:annotation>
       <xs:sequence>
              <xs:element name="TransactionCode" type="ns3:STransactionCode" minOccurs="1">
              </xs:element>
              <xs:element name="Container" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
  <xs:annotation>
    <xs:documentation>
      <![CDATA[<p>Java class for anonymous complex type.

<p>The following schema fragment specifies the expected content contained within this class.

<pre>
 &lt;complexType>
   &lt;complexContent>
     &lt;restriction base="{http://www.w3.org/2001/XMLSchema}anyType">
       &lt;sequence>
         &lt;element name="Document" type="{urn:EBA}SDocument" maxOccurs="255"/>
         &lt;element name="BookingsReference" type="{urn:EBA}SBookingsReference" minOccurs="0"/>
         &lt;element name="Terminal" type="{urn:EBA}STerminal"/>
         &lt;element name="CarrierType" type="{urn:EBA}SCarrierType" minOccurs="0"/>
       &lt;/sequence>
       &lt;attribute name="number" use="required" type="{urn:EBA}SContainerNumber" />
     &lt;/restriction>
   &lt;/complexContent>
 &lt;/complexType>
 </pre>]]>
    </xs:documentation>
  </xs:annotation>
       <xs:sequence>
              <xs:element name="Document" type="ns3:SDocument" minOccurs="1" maxOccurs="unbounded">
              </xs:element>
              <xs:element name="BookingsReference" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="Terminal" type="xs:string" minOccurs="1">
              </xs:element>
              <xs:element name="CarrierType" type="ns3:SCarrierType" minOccurs="0">
              </xs:element>
      </xs:sequence>
      <xs:attribute name="number" use="required" type="xs:string">
      </xs:attribute>
</xs:complexType>

              </xs:element>
              <xs:element name="Vehicle" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
  <xs:annotation>
    <xs:documentation>
      <![CDATA[<p>Java class for anonymous complex type.

<p>The following schema fragment specifies the expected content contained within this class.

<pre>
 &lt;complexType>
   &lt;complexContent>
     &lt;restriction base="{http://www.w3.org/2001/XMLSchema}anyType">
       &lt;sequence>
         &lt;element name="Document" type="{urn:EBA}SDocument" maxOccurs="255"/>
         &lt;element name="BookingsReference" type="{urn:EBA}SBookingsReference" minOccurs="0"/>
         &lt;element name="Terminal" type="{urn:EBA}STerminal"/>
         &lt;element name="CarrierType" type="{urn:EBA}SCarrierType" minOccurs="0"/>
       &lt;/sequence>
       &lt;attribute name="number" use="required" type="{urn:EBA}SVehicleNumber" />
     &lt;/restriction>
   &lt;/complexContent>
 &lt;/complexType>
 </pre>]]>
    </xs:documentation>
  </xs:annotation>
       <xs:sequence>
              <xs:element name="Document" type="ns3:SDocument" minOccurs="1" maxOccurs="unbounded">
              </xs:element>
              <xs:element name="BookingsReference" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="Terminal" type="xs:string" minOccurs="1">
              </xs:element>
              <xs:element name="CarrierType" type="ns3:SCarrierType" minOccurs="0">
              </xs:element>
      </xs:sequence>
      <xs:attribute name="number" use="required" type="xs:string">
      </xs:attribute>
</xs:complexType>

              </xs:element>
      </xs:sequence>
      <xs:attribute name="type" type="ns3:SBodyType">
      </xs:attribute>
</xs:complexType>

              </xs:element>
      </xs:sequence>
      <xs:attribute name="VersionMajor" use="required" type="xs:unsignedByte">
      </xs:attribute>
      <xs:attribute name="VersionMinor" use="required" type="xs:unsignedByte">
      </xs:attribute>
</xs:complexType>

  </xs:element>
<xs:simpleType name="SBodyType">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[<p>Java class for SBodyType.

<p>The following schema fragment specifies the expected content contained within this class.
<p>
<pre>
 &lt;simpleType name="SBodyType">
   &lt;restriction base="{http://www.w3.org/2001/XMLSchema}string">
     &lt;enumeration value="CONT"/>
     &lt;enumeration value="RORO"/>
   &lt;/restriction>
 &lt;/simpleType>
 </pre>]]>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
     
    <xs:enumeration value="CONT"/>
 
    <xs:enumeration value="RORO"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="SCarrierType">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[<p>Java class for SCarrierType.

<p>The following schema fragment specifies the expected content contained within this class.
<p>
<pre>
 &lt;simpleType name="SCarrierType">
   &lt;restriction base="{http://www.w3.org/2001/XMLSchema}string">
     &lt;enumeration value="BG"/>
     &lt;enumeration value="RL"/>
     &lt;enumeration value="TR"/>
     &lt;enumeration value="VS"/>
   &lt;/restriction>
 &lt;/simpleType>
 </pre>]]>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
     
    <xs:enumeration value="BG"/>
 
    <xs:enumeration value="RL"/>
 
    <xs:enumeration value="TR"/>
 
    <xs:enumeration value="VS"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="SComCode">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[<p>Java class for SComCode.

<p>The following schema fragment specifies the expected content contained within this class.
<p>
<pre>
 &lt;simpleType name="SComCode">
   &lt;restriction base="{http://www.w3.org/2001/XMLSchema}string">
     &lt;enumeration value="EORI"/>
     &lt;enumeration value="DUNS"/>
     &lt;enumeration value="APCS"/>
   &lt;/restriction>
 &lt;/simpleType>
 </pre>]]>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
     
    <xs:enumeration value="EORI"/>
 
    <xs:enumeration value="DUNS"/>
 
    <xs:enumeration value="APCS"/>
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="SComPartner">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[<p>Java class for SComPartner complex type.

<p>The following schema fragment specifies the expected content contained within this class.

<pre>
 &lt;complexType name="SComPartner">
   &lt;simpleContent>
     &lt;extension base="&lt;urn:EBA>SPartner">
       &lt;attribute name="codeType" use="required" type="{urn:EBA}SComCode" />
     &lt;/extension>
   &lt;/simpleContent>
 &lt;/complexType>
 </pre>]]>
    </xs:documentation>
  </xs:annotation>
  <xs:simpleContent>
    <xs:extension base="xs:string">
      <xs:attribute name="codeType" use="required" type="ns3:SComCode">
      </xs:attribute>
    </xs:extension>
  </xs:simpleContent>
</xs:complexType>

<xs:complexType name="SDocument">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[<p>Java class for SDocument complex type.

<p>The following schema fragment specifies the expected content contained within this class.

<pre>
 &lt;complexType name="SDocument">
   &lt;simpleContent>
     &lt;extension base="&lt;urn:EBA>SDocumentNumber">
       &lt;attribute name="type" use="required" type="{urn:EBA}SDocumentType" />
       &lt;attribute name="code" use="required">
         &lt;simpleType>
           &lt;restriction base="{urn:EBA}SCode">
           &lt;/restriction>
         &lt;/simpleType>
       &lt;/attribute>
       &lt;attribute name="office" type="{urn:EBA}SOffice" />
     &lt;/extension>
   &lt;/simpleContent>
 &lt;/complexType>
 </pre>]]>
    </xs:documentation>
  </xs:annotation>
  <xs:simpleContent>
    <xs:extension base="xs:string">
      <xs:attribute name="type" use="required" type="ns3:SDocumentType">
      </xs:attribute>
      <xs:attribute name="code" use="required" type="xs:string">
      </xs:attribute>
      <xs:attribute name="office" type="xs:string">
      </xs:attribute>
    </xs:extension>
  </xs:simpleContent>
</xs:complexType>

<xs:simpleType name="SDocumentType">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[<p>Java class for SDocumentType.

<p>The following schema fragment specifies the expected content contained within this class.
<p>
<pre>
 &lt;simpleType name="SDocumentType">
   &lt;restriction base="{http://www.w3.org/2001/XMLSchema}string">
     &lt;enumeration value="MRN"/>
   &lt;/restriction>
 &lt;/simpleType>
 </pre>]]>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
     
    <xs:enumeration value="MRN"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="STransactionCode">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[<p>Java class for STransactionCode.

<p>The following schema fragment specifies the expected content contained within this class.
<p>
<pre>
 &lt;simpleType name="STransactionCode">
   &lt;restriction base="{http://www.w3.org/2001/XMLSchema}string">
     &lt;enumeration value="CREATE"/>
     &lt;enumeration value="REPLACE"/>
     &lt;enumeration value="CANCEL"/>
     &lt;enumeration value="UNKNOWN"/>
   &lt;/restriction>
 &lt;/simpleType>
 </pre>]]>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
     
    <xs:enumeration value="CREATE"/>
 
    <xs:enumeration value="REPLACE"/>
 
    <xs:enumeration value="CANCEL"/>
 
    <xs:enumeration value="UNKNOWN"/>
  </xs:restriction>
</xs:simpleType>

</xs:schema>